*{
    padding: 0px;
    margin: 0px;
}
#headContacts {
    display: flex;
    align-items: center;
    color: #7C7C86;
    width: 100%;
    justify-content: end;
    gap: 40px;
    margin-top: 25px;
    
    left: 200px;
}

.headerDov {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer ;
    transition: 0.5s;

}
.headerDov:hover{
    color: #7776e5;
    transition: 0.5s;
}
.flag{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

#logo {
    width: 142px;
    height: 37px;
    cursor: pointer;
}

.bottomHeader {
    margin-top: 35px;
    display: flex;
    align-items: center;
    gap: 15px;
}

#katalog {
    display: flex;
    align-items: center;
    background-color: #7776e5;
    color: white;
    border-radius: 10px;
    padding: 0px 18px;
    height: 45px;
    gap: 8px;
    font-family: "Noto Sans Armenian", sans-serif;
    margin-left: 15px;
    cursor: pointer;
    transition: 0.5s;
}
#katalog:hover{
    background-color: #514ee4;
    transition: 0.5s;
}

#icc {
    color: white;
    font-size: 20px;
}

#downI {
    font-size: 10px;
}

#searchDiv {
    border: 0.5px solid #e1e1e4;
    padding: 12px;
    border-radius: 10px;
    color: #e1e1e4;
    font-size: 18px;
    display: flex;
}

#search {
    width: 560px;
    border: none;
    font-size: 16px;
}

input:focus {
  outline: none;
}

#icons{
    display: flex;
    gap: 5px;
    color: #313135;
}
.ic {
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F7;
    padding: 12px;
    border-radius: 10px;
    font-size: 17px; 
    transition: 0.5s;
    cursor: pointer;
    position: relative;
}

.ic:hover {
    background-color: #7776e5;
    color: white;
}

.num {
    background-color: #ff4d4d; 
    color: white;
    border-radius: 50%;
    position: absolute;
    top: -5px;   
    right: -5px; 
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    font-family: sans-serif;
}